/* 
    Created on : 09-jul-2014, 3:52:29
    Author     : Antonio Lorenzo Esparza
*/
.divDemoBody  {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        height: 250px;
        }
.divDemoBody p {
        font-size: 18px;
        line-height: 140%;
        padding-top: 12px;
        }
.divDialogElements input {
        font-size: 18px;
        padding: 3px; 
        height: 32px; 
        width: 500px; 
        }
.divButton {
        padding-top: 12px;
        }
.modal{
    margin-top: 150px;
    height: 330px;
    background: rgb(188,3,37); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(188,3,37,1) 0%, rgba(71,0,10,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(188,3,37,1)), color-stop(100%,rgba(71,0,10,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(188,3,37,1) 0%,rgba(71,0,10,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(188,3,37,1) 0%,rgba(71,0,10,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(188,3,37,1) 0%,rgba(71,0,10,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(188,3,37,1) 0%,rgba(71,0,10,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc0325', endColorstr='#47000a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: #fff;
    opacity: .8;
}