{# empty Twig template #}
    {% block cabecera %}
    <div class="cabecera_1" style="height: 249px;" >
        <div id="rotar" class="col-md-4 logo cabecera_2" style="height: 249px;">
              <img src="{{ asset('bundles/aac/images/Aac_.png') }}" alt="Análisis y Auditoria de Cuentas" />
        </div>
        <div class="col-md-7">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="cabecera_31">
                <span class="glyphicon glyphicon-user"></span>
                &nbsp{{ app.user.username|slice(0, 20) }}
            </div>
            {% endif %}
            <p class="cabecera_3">Servicios Profesionales de Auditoria</p>
        </div>
            <p class="col-md-6 cabecera_3">
                Informes especiales, revisiones y verificaciones.
            </p>
            <p class="col-md-6 cabecera_3">
                Administraciones concursales, pruebas periciales, peritaciones judiciales.
    </div>
    {% endblock %}
    