{# empty Twig template #}
    
    {% block cabecera %}
    <div class="cabecera_11" style="height: 94px;" >
        <div id="rotar" class="col-md-2 logo1 cabecera_2" style="height: 94px;">
            <img src="{{ asset('bundles/aac/images/AAC_35.png') }}" />
        </div>
        <div class="col-md-9 col-sm-11">
            
            <h4 class="cabecera_32 col-md-offset-2">Análisis y Auditoria de Cuentas</h4>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="cabecera_31 text-right peque">
                <span class="glyphicon glyphicon-user"></span>
                &nbsp{{ app.user.username|slice(0, 35) }}
            </div>
            {% endif %}
        </div>
    </div>
    {% endblock %}
    